
/***** RESET STYLES *****/

body,
#bodyTable,
#bodyCell {
	height:100% !important;
	margin:0;
	padding:0;
	width:100% !important;
}

table {
	border-collapse:collapse;
	margin-bottom: 0;
}

img,
a img {
	border:0;
	outline:none;
	text-decoration:none;
	display: block;
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1.4em;
}

/* MOBILE STYLES */
@media only screen and (max-width: 600px){
  
  p {
    margin-bottom: 1.2em;
  }
  
}