---
---

/* DEFAULT THEME STYLES */

body, #bodyTable {
	background-color: #fff;
}

a {
	color: {{ page.cta_color_button }}
}

/* CONTAINERS */

#emailContainer {
	background-color: #fff;
}

{% if page.header_full_width %}
  #headerContainer {
  	background-color: {{ page.header_bg_color }};
  }
{% endif %}

{% if page.header_has_border %}
  #dateContainer {
  	border-top: 4px solid {{ page.color_theme_primary }}
  }
{% endif %}

#heroImageContainer {
	background-color: #F0F0F0;
}

#introContainer {
	background-color: #fff;
}

#callToActionContainer {
	padding: {{ layout.content_padding }}px;
}

#preHeaderContainer,
#dateContainer,
#textContainer,
#eventContainer,
#contactContainer,
#footerContainer,
#ruleContainer,
#spacerContainer {
	padding: {{ layout.content_padding }}px;
}

/* BLOCKS */



/* BLOCK CELLS */

#preHeaderBlockCell {
	font-size: 12px;
	color: #a2a2a2;
}

#dateBlockCell {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .5px;
	color: #a2a2a2;
}

#ruleBlockCell,
#spacerContainer {
	font-size: 0;
	line-height: 0;
}

#ruleBlockCell {
	border-top: 1px solid #e7e7e7;
}

#contactBlockCellPhoto {
	padding-right: {{ layout.content_padding }}px;
}

#footerBlockCell {
	padding-bottom: 18px;
}


/* OTHER */

.callToActionButton {
	background-color: {{ page.cta_color_button }};
	border-radius: 4px;
	box-shadow: 0 4px {{ page.cta_color_button_border }};
}

.callToActionButtonContent {
	padding: {{ layout.content_padding | divided_by: 1.333 }}px {{ layout.content_padding | times: 2.1 }}px;
}

.callToActionButtonContent a {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.content {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #313030;
	line-height: 1.4;
}

.postScript {
	font-size: 14px;
	color: #a2a2a2;
	font-style: italic;
}

.list-header {
  padding: 0 1px;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  color: #67a7a8;
  border-bottom: 2px solid #67a7a8;
}

.event-title {
  font-size: 16px;
  font-weight: bold;
  margin: 12px 0 6px;
}

.event-details {
  margin: 0 0 38px;
  padding-left: 21px;
  font-size: 14px;
  list-style-type: square;
}

.margin-clear {
  margin: 0;
}


/* MOBILE STYLES */

@media only screen and (max-width: 600px){
	
	td[id="preHeaderContainer"],
	td[id="dateContainer"],
	td[id="textContainer"],
	td[id="callToActionContainer"],
	td[id="contactContainer"],
	td[id="ruleContainer"],
	td[id="footerContainer"] {
		padding-right: 10px !important;
		padding-left: 10px !important;
	}
	
	td[id="headerContainer"] {
		height: auto !important;
	}
	
	table[id="preHeaderBlock"],
	table[id="dateBlock"],
	table[id="textBlock"],
	table[id="callToActionBlock"],
	table[id="contactBlock"],
	table[id="ruleBlock"],
	table[id="footerBlock"] {
		max-width: 480px !important;
		width: 100% !important;
	}
	
	h1 {font-size: 34px !important;}
	h2 {font-size: 30px !important;}
	h3 {font-size: 24px !important;}
	h4 {font-size: 21px !important;}
	
	img[id="headerImage"] {
		height: auto !important;
		max-width: 480px !important;
		width: 100% !important;
	}
	
	td[class="callToActionContent"] {
		text-align:left !important;
	}
	
	table[class="callToActionButton"] {
		width:100% !important;
	}

	td[class="footerContent"] {font-size:15px !important;}
	td[class="footerContent"] a {display:block;}
	
	td[class="content"] {
		font-size: 18px;
	}
	
	td[id="contactBlockCellName"] {
		font-size: 16px;
	}
}