{% assign author = site.data.authors[page.author] %}
{% assign name = author.name %}
{% assign email = author.email %}
{% assign position = author.position %}
{% assign campus = author.campus %}
{% assign image = author.image %}
{% assign signature = author.signature %}

<tr>
	<!-- BEGIN CONTACT -->
	<td align="center" valign="top" id="contactContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="contactBlock">
			<tbody>
				<tr>
					<td align="left" valign="top" id="contactBlockCell">
						<table border="0" cellpadding="0" cellspacing="0">
              <tbody>
	              {% if signature %}
		              <tr>
			              <td align="left" valign="middle" class="content">
				              <img width="100" src="{{ signature }}" />
				              <p><em>({{ name }})</em></p>
			              </td>
		              </tr>
	              {% endif %}
	              <tr>
		              {% if image != false %}
		              	{% assign nameBlockWidth = 450 %}
			              <td align="left" valign="middle" width="90" id="contactBlockCellPhoto">
				              <a href="mailto:{{ email }}" title="Email {{ name }}">
					              <img width="90" src="{{ image }}" alt="{{ name }}, {{ campus }} {{ position }}">
				              </a>
			              </td>
			            {% else %}
			            	{% assign nameBlockWidth = '100%' %}
			            {% endif %}
			            
		              <td align="left" valign="middle" width="{{ nameBlockWidth }}" id="contactBlockCellName" class="content">
										<h4>
											<a style="text-decoration: none;" href="mailto:{{ email }}" title="Email {{ name }}">
												{{ name }}
											</a>
										</h4>
										{% if position %}
											{{ position }}
											<br>
										{% endif %}
										{% if campus %}
											{{ campus }}
										{% endif %}
		              </td>
	              </tr>
              </tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	<!-- END CONTACT -->
</tr>