<tr>
	<!-- BEGIN FOOTER -->
	<td align="center" valign="top" id="footerContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="footerBlock">
			<tbody>
				<tr>
					<td align="center" valign="middle" class="content" id="footerBlockCell">
						<a href="http://www.fellowshipbiblechurch.org" title="{{ site.title }}">
							<img src="{{ site.logo_url }}" width="{{ site.logo_width }}" />
						</a>
					</td>
				</tr>
				<tr>
					<td align="center" valign="middle" class="content" id="footerBlockCell">
						<p class="footerTagLine">
							You are receiving this email because of your involvement with the ministries of {{ site.title }}. Please <a href="mailto:office@fbctn.org" title="Email our Main Office">contact us</a> if you would like to no longer receive emails from us.
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	<!-- END FOOTER -->
</tr>