<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title></title>
  <style type="text/css">
		
		{% if page.layout == 'home' or page.layout == 'group' %}
			{% include styles/pages/base.css %}
		{% elsif page.layout == 'default' %}
			{% include styles/newsletters/reset.css %}
			{% include styles/newsletters/client.css %}
			{% include styles/newsletters/base.css %}
			{% include styles/newsletters/themes/default.css %}
		{% endif %}
		
	</style>
</head>
