{% if page.layout == 'default' %}
  {% assign header_width = layout.content_width %}
{% elsif page.layout == 'paper' %}
  {% assign header_width = layout.email_width %}
{% endif %}

<tr>
	<!-- BEGIN HEADER -->
	<td align="center" valign="top" id="headerContainer" width="{{ header_width }}" height="{{ page.header_image_height }}">
		<a class="imageLink" href="{{ page.header_image_link }}?utm_source=f1&utm_medium=email&utm_campaign={{ page.title }}&utm_content=header-image" title="{{ page.title_public }}">
			<img src="{{ page.header_image_url }}" width="{{ header_width }}" height="{{ page.header_image_height }}" id="headerImage" />
		</a>
	</td>
	<!-- END HEADER -->
</tr>
