---
title: 20170911 - Fellowship Leader Gathering
title_public: Fellowship Leader Gathering
layout: paper
categories:
 - fellowship
date_to_send: September 12, 2017
author: lloyd_rob_phil
email_client_lede: "You should have received a save the date card for our Leadership Gathering on September 24th. This will be a time to connect with other leaders and their spouses in our church body &mdash; both staff and volunteer from all three campuses."
header_full_width: false
header_has_border: false
header_border_radius: 2px
header_image_url: "http://1a35adac855f40326ab5-545fc5a361402074649dd8b0f6e40b7d.r37.cf2.rackcdn.com/uploaded/e/0e6551602_1505144338_email-header-fellowship-leader-gathering-1200px.jpg"
header_image_link: "http://www.fellowshipbiblechurch.org/"
header_image_width: {{ layout.content_width }}
header_image_height: ""
header_bg_color: "#fff"
color_background_body: "#e4e4e4"
color_background_body_border: "#ccc"
color_background_paper: "#fff"
color_link_primary: "#c86162"
color_theme_primary: "#c86162"
cta_color_button: "#c86162"
cta_color_button_border: "#7d4041"
cta_url: "https://fbctn.infellowship.com/Forms/372200"
cta_text: "RSVP Now"
pre_date_markup: 
post_script_markup: 
---

{% capture callout_content %}

		<h3 style="color: #414040;" class="u-align--c">Fellowship Leader Gathering</h3>
		<h5 style="color: #414040" class="u-text--base u-align--c u-flush--b">Sunday, September 24<sup>th</sup> | 6:30-8:00pm</h5>
		<h5 style="color: #414040" class="u-text--base u-align--c">Worship Center (Brentwood Campus)</h5>
	
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			{% include snippets/call-to-action.html %}
		</tbody>
	</table>
	
{% endcapture %}

{% include snippets/text-block.html content=callout_content %}

{% include snippets/horizontal-rule.html %}

<tr>
	<!-- BEGIN TEXT -->
	<td align="center" valign="top" id="textContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="textBlock">
			<tbody>
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<h5>Fellowship Leaders,</h5>
						<p>You should have received a save the date card for our Leaders Gathering on Sunday, Sept. 24<sup>th</sup>. This will be a time to connect with other leaders and their spouses &mdash; both staff and volunteer from all three campuses. We’re so excited about this event and wanted to give you more details on what this night is all about.</p>
						<p>In a nutshell, the gathering is about YOU! And we want to say, “thank you.” But there is more&hellip;</p>
						<p>As we begin a season of preparation &mdash; what we called “get ready” a few weeks back &mdash; your unique role as one who leads and serves puts you in prime position to speak about how we best live out Christ’s mandate to make disciples of all nations in our particular context. Your insights, experiences, and perspectives spread across almost 20 years of our history are critical to what our next 20 must entail.</p>
						<p>So, while part of the evening will be expressing our thanks for you, other parts will include asking you to share ways that you sense God leading and shaping Fellowship’s immediate and long-term future.</p>
						<p>In addition, there are a few things we’re excited to share with you. Some of these include:</p>
						<ul>
							<li>Insights from time recently spent with one of the leading church consulting firms in the nation</li>
							<li>The what and the why of our upcoming teaching series in the Book of Acts and how this series will serve to renew our weekend services</li>
							<li>How you can lead the church through engaging first in our upcoming time of prayer and fasting</li>
						</ul>
						<p>We’ll meet in the Worship Center (Brentwood campus). Desserts and drinks provided. Due to the size of this event, we are unable to offer on-site childcare. We don’t want this to be an obstacle for those with kids, so we will provide a $30/family reimbursement at the event. You’ll find more details and can let us know if you plan to take advantage of this option when you RSVP.</p>
						<p>We look forward to seeing you there!</p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	<!-- END TEXT -->
</tr>

<tr>
	<!-- BEGIN TEXT -->
	<td align="center" valign="top" id="textContainer" class="u-flush--y">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="textBlock">
			<tbody>
				<tr>
					<td align="left" valign="bottom" width="100%" id="textBlockCell">
						<img  width="160"  src="http://1a35adac855f40326ab5-545fc5a361402074649dd8b0f6e40b7d.r37.cf2.rackcdn.com/uploaded/s/0e6551810_1505147153_signature-lloyd-shadrach-300px.png" />
						<h6 class="u-text--base" style="color: #414040">(Lloyd Shadrach)</h6>
						<img  width="160" src="http://1a35adac855f40326ab5-545fc5a361402074649dd8b0f6e40b7d.r37.cf2.rackcdn.com/uploaded/s/0e6551808_1505147152_signature-rob-sweet-300px.png" />
						<h6 class="u-text--base" style="color: #414040">(Rob Sweet)</h6>
						<img  width="160" src="http://1a35adac855f40326ab5-545fc5a361402074649dd8b0f6e40b7d.r37.cf2.rackcdn.com/uploaded/s/0e6551806_1505147152_signature-phil-covert-300px.png" />
						<h6 class="u-text--base u-flush--b" style="color: #414040">(Phil Covert)</h6>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>