---
title: 20170829 - Man to Man
title_public: Man to Man
layout: paper
categories:
 - fellowship
 - men
date_to_send: August 29, 2017
author: mark_irving
email_client_lede: "We are kicking off our men's ministry next Thursday evening, September 7th at 6:30pm with our next MAN TO MAN event."
header_full_width: false
header_has_border: false
header_border_radius: 2px
header_image_url: "http://1a35adac855f40326ab5-545fc5a361402074649dd8b0f6e40b7d.r37.cf2.rackcdn.com/uploaded/e/0e6515224_1504038839_email-header-man-to-man-1200px.jpg"
header_image_link: "http://www.fellowshipbiblechurch.org/brentwood/event/2017-09-07-man-to-man"
header_image_width: {{ layout.content_width }}
header_image_height: ""
header_bg_color: "#e4e4e4"
color_background_body: "#e4e4e4"
color_background_body_border: "#ccc"
color_background_paper: "#fff"
color_link_primary: "#202020"
color_theme_primary: "#202020"
cta_color_button: "#d73443"
cta_color_button_border: "#9c1826"
cta_url: "http://www.fellowshipbiblechurch.org/brentwood/event/2017-09-07-man-to-man"
cta_text: "Register Now"
pre_date_markup: 
post_script_markup: 
---

<tr>
	<!-- BEGIN TEXT -->
	<td align="center" valign="top" id="textContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="textBlock">
			<tbody>
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<h5>Fellowship Men,</h5>
						<p>We are kicking off our Men's Ministry <em>next Thursday evening</em>, September 7<sup>th</sup> at 6:30pm with our next MAN TO MAN event (Worship Center, Brentwood Campus). New York Times best selling author and popular men's speaker, Stephen Mansfield, will be with us to share his faith story and lessons about manhood that he's learned along the way. Trust me, you won't want to miss this!</p>
						<p>At this event you will also learn about men's groups, classes, and outreach opportunities that you can jump into this fall. Snacks will be served. Please register so that we can plan for room setup and food!</p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	<!-- END TEXT -->
</tr>

{% include snippets/call-to-action.html %}
{% include snippets/spacer.html %}