---
title: 20170908 - Men's Fall Studies
title_public: Men's Fall Studies
layout: paper
categories:
 - brentwood
 - men
date_to_send: September 8, 2017
author: jeff_runion
email_client_lede: "If you weren't able to attend our Man To Man kickoff event last night, below is a list of groups and classes that are launching this month."
header_full_width: false
header_has_border: false
header_border_radius: 2px
header_image_url: "http://1a35adac855f40326ab5-545fc5a361402074649dd8b0f6e40b7d.r37.cf2.rackcdn.com/uploaded/e/0e6544260_1504887699_email-header-men-generic-1200px.jpg"
header_image_link: "http://www.fellowshipbiblechurch.org/brentwood/ministries/men"
header_image_width: {{ layout.content_width }}
header_image_height: ""
header_bg_color: "#fff"
color_background_body: "#efefed"
color_background_body_border: "#ccc"
color_background_paper: "#fff"
color_link_primary: "#3b747f"
color_theme_primary: "#333"
cta_color_button: "#3b747f"
cta_color_button_border: "#254248"
cta_url: "http://www.fellowshipbiblechurch.org/brentwood/ministries/men"
cta_text: "Learn More and Register"
pre_date_markup: 
post_script_markup: 
---

<tr>
	<!-- BEGIN TEXT -->
	<td align="center" valign="top" id="textContainer" class="u-flush--b">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="textBlock">
			<tbody>
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<h5>Fellowship Men,</h5>
						<p>If you weren't able to attend our Man To Man kickoff event last night, below is a list of groups and classes that are launching this month. I’m excited to see what God will do in and through us as we interact with His Word and each other to <em>mature in the faith and give our lives away</em>. Here some of our upcoming studies:<!--  To learn more and to register online visit <a href="http://fellowshipbiblechurch.org/brentwood/ministries/men" title="Fellowship Men">our website</a>. --></p>
					</td>
				</tr>
				
				{% include snippets/spacer.html %}
				
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<h4 class="u-flush--t">Men's 27:17 Groups</h4>
						<p>Proverbs 27:17 says "As iron sharpens iron, so one man sharpens another." If you're interested in connecting with other men around the Word of God for a year, these groups meet off campus every other week. Registration is open until Wed., September 20<sup>th</sup>. Groups will be forming the last week in September.<!--  For more info, contact Jeff Runion (<a href="mailto:jrunion@fbctn.org">jrunion@fbctn.org</a>) or <a href="http://www.fellowshipbiblechurch.org/brentwood/event/2017-09-08-mens-2717-groups" title="Learn More about Men's 27:17 Groups">register online</a>. --></p>
					</td>
				</tr>
				
				{% include snippets/horizontal-rule.html %}
				
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<h4 class="u-flush--t">Authentic Manhood</h4>
						<p>Authentic Manhood is our six-week class that meets at two different times, Thursday evenings and Friday mornings. This semester we’ll focus on <em>A Man and His Design</em>.<!--  For details, contact Tim Myers (<a href="mailto:myerstl@bellsouth.net">myerstl@bellsouth.net</a>) or <a href="http://www.fellowshipbiblechurch.org/brentwood/calendar/?t=&m=men&q=Authentic+Manhood" title="Learn More about Authentic Manhood">register online</a>. --></p>
					</td>
				</tr>
				
				{% include snippets/horizontal-rule.html %}
				
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<h4 class="u-flush--t">Inside Looking Out</h4>
						<p>What if my life was an illustration of what Jesus taught the disciples and apostles? It can be! Join other Fellowship men on Friday mornings as we challenge each other to be disciples.<!--  For more info, contact Wayne Wolf (<a href="mailto:wayne.wolf@sentinelholdings.com">wayne.wolf@sentinelholdings.com</a>) or <a href="http://www.fellowshipbiblechurch.org/brentwood/event/2017-09-15-inside-looking-out" title="Learn More about Inside Looking Out">register online</a>. --></p>
					</td>
				</tr>
				
				{% include snippets/horizontal-rule.html %}
				
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<h4 class="u-flush--t">Growing in Christ</h4>
						<p>Join other men on Saturday mornings for a study through the Book of Galatians. We’ll discover how the gospel is not only the means by which we come to faith, but also the way that we grow in our faith!<!--  To learn more, contact Sid Smith (<a href="mailto:j.sidsmith@gmail.com">j.sidsmith@gmail.com</a>) or <a href="http://www.fellowshipbiblechurch.org/brentwood/event/2017-09-09-growing-in-christ" title="Learn More about Growing in Christ">register online</a>. --></p>
					</td>
				</tr>
				
				{% include snippets/horizontal-rule.html %}
				{% include snippets/call-to-action.html %}
				
			</tbody>
		</table>
	</td>
</tr>

<tr>
	<!-- BEGIN TEXT -->
	<td align="center" valign="top" id="textContainer" class="u-flush--b">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="textBlock">
			<tbody>
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<p>Also, mark your Calendar for the next two Man To Man Events: Friday, October 6<sup>th</sup>, at 6:15am (guest speaker Nate Larkin) and Thursday, November 16<sup>th</sup>, at 6:30pm. Details to follow.</p>
						<p>Iron Sharpening Iron,</p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	<!-- END TEXT -->
</tr>