---
title: 20170926 - Man to Man
title_public: Man to Man
layout: paper
categories:
 - fellowship
 - men
date_to_send: September 26, 2017
author: jeff_runion
email_client_lede: "We are kicking off our men's ministry next Thursday evening, September 7th at 6:30pm with our next MAN TO MAN event."
header_full_width: false
header_has_border: false
header_border_radius: 2px
header_image_url: "http://1a35adac855f40326ab5-545fc5a361402074649dd8b0f6e40b7d.r37.cf2.rackcdn.com/uploaded/e/0e6515224_1504038839_email-header-man-to-man-1200px.jpg"
header_image_link: "http://www.fellowshipbiblechurch.org/brentwood/event/2017-10-06-man-to-man"
header_image_width: {{ layout.content_width }}
header_image_height: ""
header_bg_color: "#e4e4e4"
color_background_body: "#e4e4e4"
color_background_body_border: "#ccc"
color_background_paper: "#fff"
color_link_primary: "#d73443"
color_theme_primary: "#202020"
cta_color_button: "#d73443"
cta_color_button_border: "#9c1826"
cta_url: "http://www.fellowshipbiblechurch.org/brentwood/event/2017-10-06-man-to-man"
cta_text: "Register Now"
pre_date_markup: 
post_script_markup: 
---

<tr>
	<!-- BEGIN TEXT -->
	<td align="center" valign="top" id="textContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="textBlock">
			<tbody>
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<h5>Fellowship Men,</h5>
						<p>We encourage you to join us Friday, October 6<sup>th</sup> at 6:30am in The Barn (Brentwood campus) for our next Man To Man event! This large group gathering is designed for you to hear from respected men in our community as they share stories of life-transformation, struggle, and faith. Feel free to invite a friend, neighbor, or co-worker!</p>
						<p>Free breakfast will be served with a Q&amp;A time to follow. If you would, please register below so that we can plan for food.</p>
						<p>This month’s guest speaker is Nate Larkin. Nate is the author of <em>Samson and the Pirate Monks: Calling Men to Authentic Brotherhood</em>. Nate graduated from Princeton Theological Seminary and served as a pastor for five years before addiction drove him from the ministry. He then helped launch a forensic engineering firm in South Florida. Nate finally found freedom and a revitalized faith at age 42, thanks to a 12-step recovery program. In 2004, he founded the Samson Society, a mutual-aid society for Christian men that has grown to 450 groups nationwide.</p>
						<p>Nate travels as a conference speaker and retreat leader and hosts the weekly <a href="https://samsonsociety.podbean.com/">Pirate Monk Podcast</a>. He is featured in the <a href="https://www.youtube.com/watch?v=0Cw7aWUQeWY">I Am Second campaign</a> and appears in the upcoming Billy Graham Association film “Flying Blind.” Nate and his family live in Franklin, Tennessee.</p>
						<p>We hope to see you on Friday morning, October 6<sup>th</sup>!</p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	<!-- END TEXT -->
</tr>

{% include snippets/call-to-action.html %}

{% include snippets/text-block.html content='Iron Sharpening Iron,' %}