---
title: 20170328 - Man to Man
title_public: Man to Man
categories:
 - fellowship
 - men
date_to_send: March 29, 2017
author: mark_irving
header_image_url: "http://fellowshipbiblechurch.org/email-assets/men/header-man-to-man-1200px.jpg"
header_image_link: "http://www.fellowshipbiblechurch.org/event/940923-2017-03-31-man-to-man"
header_image_width: {{ layout.content_width }}
header_image_height: ""
header_bg_color: "#fff"
color_link_primary: "#a9aa29"
color_theme_primary: "#fff"
cta_color_button: "#d73443"
cta_color_button_border: "#9c1826"
cta_url: "http://www.fellowshipbiblechurch.org/event/940923-2017-03-31-man-to-man"
cta_text: "Register Now"
---

<tr>
	<!-- BEGIN TEXT -->
	<td align="center" valign="top" id="textContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="textBlock">
			<tbody>
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<h5>Fellowship Men,</h5>
						<p>I encourage you to join us this Friday, March 31<sup>st</sup> at 6:30am (Brentwood campus) for our first MAN To MAN event! This large group gathering is designed for you to hear from and interact with respected men in our community as they share stories of life-transformation, struggle and faith. Feel free to invite a friend, neighbor, or co-worker! This month’s guest speaker is singer/songwriter Geoff Moore, who will be sharing through both story and song! Free breakfast will be served with a Q&amp;A time to follow. Please register so that we can plan for food. See you then!</p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	<!-- END TEXT -->
</tr>

{% include snippets/call-to-action.html %}
{% include snippets/spacer.html %}