---
title: 20170509 - Women's Summer Studies
title_public: Women's Summer Studies
categories:
 - franklin
 - women
date_to_send: May 9, 2017
author: paige_stroup
header_image_url: "http://1a35adac855f40326ab5-545fc5a361402074649dd8b0f6e40b7d.r37.cf2.rackcdn.com/uploaded/e/0e6141183_1492699219_email-header-generic-women-1200px.jpg"
header_image_link: "http://www.fellowshipbiblechurch.org/franklin/ministries/women"
header_image_width: {{ layout.content_width }}
header_image_height: ""
header_bg_color: "#fff"
color_link_primary: "#a9aa29"
color_theme_primary: "#fff"
cta_color_button: "#4c9697"
cta_color_button_border: "#3a8485"
cta_url: "https://fbctn.infellowship.com/Forms/360369"
cta_text: "Register Now"
---

<tr>
	<!-- BEGIN TEXT -->
	<td align="center" valign="top" id="textContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="textBlock">
			<tbody>
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<h5>Hello Fellowship Ladies,</h5>
						<p style="margin-bottom: 0;">I can’t believe that summer is just around the corner! I’m excited about the change of pace it brings&mdash;grilling out in the evenings, days at the pool, vacation to new places and opportunities to engage life on a different rhythm. This summer we have some new opportunities for you to study the Word together in homes around the community. We have women who are eager to gather others in their home for seven-weeks to study the Book of Galatians. Feel free to invite a friend. I hope you’ll consider joining us!</p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	<!-- END TEXT -->
</tr>
<tr>
	<!-- BEGIN TABLE -->
	<td align="center" valign="top" id="textContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="textBlock">
			<tbody>
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<h6 class="list-header">MONDAY PM</h6>
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
  						<tbody>
    						<tr>
      						<td width="48%" align="left" valign="top" class="content">
        						<p class="event-title">Group led by Kelly Tillman &amp; Courtney Yezerski</p>
        						<ul class="event-details">
          						<li>June 5<sup>th</sup> - July 24<sup>th</sup></li>
          						<li>7:00-9:00pm</li>
          						<li>For Fellowship Women &amp; Friends</li>
          						<li>Franklin, TN</li>
          						<li>$15</li>
        						</ul>
      						</td>
      						<td width="4%" align="left" valign="top" class="content">
        						&nbsp;
      						</td>
      						<td width="48%" align="left" valign="top" class="content">
        						<p class="event-title">Group led by Kristen Hayner &amp; Paige Stroup</p>
        						<ul class="event-details">
          						<li>June 5<sup>th</sup> - July 24<sup>th</sup></li>
          						<li>7:00-9:00pm</li>
          						<li>For Fellowship Women in their 20s</li>
          						<li>Brentwood, TN</li>
          						<li>$15</li>
        						</ul>
      						</td>
    						</tr>
  						</tbody>
						</table>
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
  						<tbody>
    						<tr>
      						<td width="100%" align="left" valign="top" class="content">
        						<h6 class="list-header">WEDNESDAY AM</h6>
        						<p class="event-title">Group led by Sandie Keenan</p>
        						<ul class="event-details margin-clear">
          						<li>June 7<sup>th</sup> - July 26<sup>th</sup></li>
          						<li>9:30-11:30am</li>
          						<li>For Fellowship Women &amp; Friends</li>
          						<li>Franklin, TN</li>
          						<li>$15</li>
        						</ul>
      						</td>
    						</tr>
  						</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	<!-- END TABLE -->
</tr>

{% include snippets/call-to-action.html %}
{% include snippets/spacer.html %}