---
---

<!DOCTYPE html>
<html>
  {% include scaffold/head.html %}
	<body>
		<header>
			<h2>{{ page.title }}</h2>
		</header>
		<nav role="navigation">
			<ul>
				{% for newsletter in site.newsletters %}
					{% for category in newsletter.categories %}
						{% if category == page.group | strip %}
						  <li>
						    <a href="{{ newsletter.url | prepend: site.baseurl }}">{{ newsletter.title }}</a>
						  </li>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
		</nav>
	</body>
</html>