---
---

<!DOCTYPE html>
<html>
  {% include scaffold/head.html %}
	<body>
		<header>
			<h2>{{ page.title }}</h2>
		</header>
		<h5>Newsletters matching: {{ page.group }}</h5>
		<nav role="navigation">
			<ul>
				{% for newsletter in site.newsletters %}
					{% for category in newsletter.categories %}
						<h6 style="margin:0">cat: {{ category }}</h6>
<!-- 						{% if category == page.group | strip %} -->
						  <li>
						    <a href="{{ newsletter.url | prepend: site.baseurl }}">{{ newsletter.title }}</a>
						  </li>
<!-- 						{% endif %} -->
					{% endfor %}
					<br>
				{% endfor %}
			</ul>
		</nav>
	</body>
</html>