---
email_width: 600
content_padding: 20
content_width: 540
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  {% include scaffold/head.html %}
  <body>
  	<center>
  	  
  	  {% if page.email_client_lede %}
    	  <table id="hiddenContainer">
      	  <tbody>
        	  <tr>
          	  <td>{{ page.email_client_lede }}</td>
        	  </tr>
      	  </tbody>
    	  </table>
      {% endif %}
      
  		<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
	  		<tbody>
		  		<tr>
			  		<td align="center" valign="top" id="bodyCell">
				  		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.email_width }}" id="emailContainer">
					  		<tbody>
  					  		
									{% include scaffold/header.html %}
  					  		
  					  		<tr>
    					  		<td align="center" valign="top" id="paperContainer" width="{{ layout.email_width }}">
        				  		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="paperBlock">
        					  		<tbody>
        							    
      							      {% if page.pre_date_markup %}
      							        {%include snippets/text-block.html content=page.pre_date_markup %}
      							        {%include snippets/horizontal-rule.html padding='0' %}
      							      {% endif %}
        						  		
        									{% include snippets/text-block.html content=page.date_to_send name="date" align_content="right" %}
        						  		
        									{{ content }}
        							    
        							    {% include scaffold/author.html %}
        							    
      							      {% if page.post_script_markup %}
      							        {%include snippets/horizontal-rule.html padding='0' %}
      							        {%include snippets/text-block.html content=page.post_script_markup %}
      							      {% endif %}
        							    
      							      {% if page.post_script_image_block_url %}
      							        {%include snippets/image-block.html url=page.post_script_image_block_url full_width=true %}
      							      {% endif %}
        							    
        					  		</tbody>
        				  		</table>
    					  		</td>
  					  		</tr>
					  		</tbody>
				  		</table>
			  		</td>
		  		</tr>
		  		
			    {% include scaffold/footer.html %}
			    
	  		</tbody>
  		</table>
  	</center>
	</body>
</html>