<tr>
	<!-- BEGIN CALL TO ACTION -->
	<td align="center" valign="top" id="callToActionContainer" width="{{ layout.content_width }}">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="callToActionBlock">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" class="callToActionButton">
            <tr>
              <td align="center" valign="top" class="content callToActionButtonContent">
                <a href="{{ page.cta_url }}" target="_blank" title="{{ page.title_public }}">{{ page.cta_text }}</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
	<!-- END CALL TO ACTION -->
</tr>