{% assign image_is_full_width = include.full_width | default: false %}

{% if include.width %}
	{% assign image_width = include.width %}
{% else %}
	{% if image_is_full_width == true %}
	  {% assign image_width = layout.email_width %}
	{% else %}
	  {% assign image_width = layout.content_width %}
	{% endif %}
{% endif %}



<tr>
	<!-- BEGIN IMAGE BLOCK -->
	<td align="center" valign="top" id="imageContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ image_width }}" id="imageBlock">
			<tbody>
				<tr>
					<td align="center" valign="middle" id="imageBlockCell">
						{% if include.image_is_link %}
							<a id="imageBlockCellLink" href="{{ include.link_url }}"{% if include.image_description %} title="{{ include.image_description }}"{% endif %}>
						{% endif %}
						
            <img id="imageBlockCellImage" src="{{ include.url }}" width="{{ image_width }}" />
            
            {% if include.image_is_link %}
            	</a>
						{% endif %}
						
            {% if include.caption %}
	            <h6 class="image__caption">{{ include.caption }}</h6>
	          {% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	<!-- END IMAGE BLOCK -->
</tr>