<tr>
	<!-- BEGIN TEXT -->
	<td align="center" valign="top" id="threeColumnContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="threeColumnBlock">
			<tbody>
				<tr>
					<td align="left" valign="bottom" width="28%" id="threeColumnBlockCell">
						<table border="0" cellpadding="10" cellspacing="0" id="threeColumnBlockCellContainer">
							<tbody>
								<tr>
									<td align="center" valign="top" class="threeColumnBlockCellContent">
										<img class="threeColumnBlockCellImage" width="{{ layout.content_width | divided_by: 3 }}"  src="http://1a35adac855f40326ab5-545fc5a361402074649dd8b0f6e40b7d.r37.cf2.rackcdn.com/uploaded/s/0e6551810_1505147153_signature-lloyd-shadrach-300px.png" />
										<h6 class="u-align--c u-text--base" style="color: #414040">(Lloyd Shadrach)</h6>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td align="left" valign="bottom" width="28%" id="threeColumnBlockCell">
						<table border="0" cellpadding="10" cellspacing="0" id="threeColumnBlockCellContainer">
							<tbody>
								<tr>
									<td align="center" valign="top" class="threeColumnBlockCellContent">
										<img class="threeColumnBlockCellImage" src="http://1a35adac855f40326ab5-545fc5a361402074649dd8b0f6e40b7d.r37.cf2.rackcdn.com/uploaded/s/0e6551808_1505147152_signature-rob-sweet-300px.png" />
										<h6 class="u-align--c u-text--base" style="color: #414040">(Rob Sweet)</h6>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td align="left" valign="bottom" width="28%" id="threeColumnBlockCell">
						<table border="0" cellpadding="10" cellspacing="0" id="threeColumnBlockCellContainer">
							<tbody>
								<tr>
									<td align="center" valign="top" class="threeColumnBlockCellContent">
										<img class="threeColumnBlockCellImage" src="http://1a35adac855f40326ab5-545fc5a361402074649dd8b0f6e40b7d.r37.cf2.rackcdn.com/uploaded/s/0e6551806_1505147152_signature-phil-covert-300px.png" />
										<h6 class="u-align--c u-text--base" style="color: #414040">(Phil Covert)</h6>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>