---
title: Hack
title_public: "Hack"
categories: franklin
date: February 22, 2017
author: "Rob, Eric, and JJ"
author_email: "jjones@fbctn.org"
author_campus: false
author_position: "Franklin Campus Pastors"
author_image_url: false
header_image_url: "http://fbctnmedia.org/email-assets/kids/franklin/header-pine-cove-camp-in-the-city-1200px.jpg"
header_image_link: "http://www.fellowshipbiblechurch.org/event/920117-2017-06-12-camp-in-the-city-franklin-june-camp"
header_image_width: {{ layout.content_width }}
header_image_height: auto
header_bg_color: "#fff"
color_theme_primary: "#fff"
cta_color_button: "#a9aa29"
cta_color_button_border: "rgba(0,0,0,0.125)"
cta_url: "https://fbctn.infellowship.com/OnlineGiving/GiveNow/Step1"
cta_text: "Give a Gift Now"
---

<tr>
	<!-- BEGIN INTRO -->
	<td align="center" valign="top" id="textContainer" class="textContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="textBlock">
			<tbody>
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<h5>Fellowship Franklin Family,</h5>
						<p>As you may have heard, Pine Cove’s Camp in The City (learn more at <a href="https://www.pinecove.com/summer-camps/camp-city">pinecove.com</a>) is returning to the Franklin campus on June 12<sup>th</sup>-16<sup>th</sup> for kids currently in K-5<sup>th</sup> grades. This past Sunday we introduced a new ministry initiative that we’re very excited about, the “Love Your Neighbor” Fund. “Love Your Neighbor” is our designated fund that will allow us to be the hands and feet of Christ through opportunities to share the good news with families in our community. Our first initiative is toward camp scholarships for Camp in The City to offer kids in our community to attend.</p>
						<p>We’re inviting you to join in because we believe this is a strategic opportunity for our church. Would you please prayerfully consider making a gift toward “Love Your Neighbor” as God leads you? This fund will allow kids who may have never experienced a Christian camp or event to hear the gospel&mdash;many, most likely, for the first time! (Remember to select “Global and Local” from the drop-down box, and then “Franklin - Love Your Neighbor Fund.”)</p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	<!-- END INTRO -->
</tr>

{% include snippets/call-to-action.html %}

<tr>
	<td align="center" valign="top" id="textContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="textBlock">
			<tbody>
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<p>We love you dearly and are so thankful for you and your heart for the Lord, Fellowship, and the community of Franklin!</p>
						<p>Together with you,</p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>

{% include scaffold/author.html %}
