---
title: 20170906 - At Home Weekly - Kindergarten
title_public: At Home Weekly - Kindergarten
layout: paper
categories:
 - franklin
 - kids
date_to_send: Lesson 1.5 | <b>September 6, 2017</b>
author: leann_buck
email_client_lede: "At Home Weekly is designed for you to use during the week with your son or daughter. You’ll find out what they learned today at church, and can help them prepare for next week by exploring the theme (or Ponder Point) and spending time together in God’s Word."
header_full_width: false
header_has_border: false
header_border_radius: 2px
header_image_url: "http://1a35adac855f40326ab5-545fc5a361402074649dd8b0f6e40b7d.r37.cf2.rackcdn.com/uploaded/e/0e6226391_1495122099_email-header-fellowship-kids-1200px.jpg"
header_image_link: "http://www.fellowshipbiblechurch.org/franklin/ministries/kids"
header_image_width: {{ layout.content_width }}
header_image_height: ""
header_bg_color: "#fff"
color_background_body: "#e8e8e8"
color_background_body_border: "#ccc"
color_background_paper: "#fff"
color_link_primary: "#8a4794"
color_theme_primary: "#8a4794"
cta_color_button: "#8a4794"
cta_color_button_border: "#342635"
cta_url: "http://www.fellowshipbiblechurch.org/franklin/ministries/kids"
cta_text: "Register Now"
pre_date_markup: <div class="centered"><p class="u-text--quiet u-text--xs"><i>A resource provided by:</i></p><a href="https://homefrontmag.com/"><img src="http://1a35adac855f40326ab5-545fc5a361402074649dd8b0f6e40b7d.r37.cf2.rackcdn.com/uploaded/a/0e6537851_1504712250_at-home-weekly-kindergarten-500px.jpg" alt="Home Front Weekly" width="240" /></a></div>
post_script_markup: <p class="margin-clear u-text--xs u-text--quiet u-text--tilt">&copy; 2016 David C Cook. TruResources are developed in partnership with <b>ROCK</b>HARBOR Church and a national network of family and children’s ministry leaders. All rights reserved. Reproducible for church use only.</p>
---

<tr>
	<!-- BEGIN TEXT -->
	<td align="center" valign="top" id="textContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="textBlock">
			<tbody>
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
						<h5 style="color: {{ page.cta_color_button_border }}">Families of Fellowship Kids,</h5>
            <p><i>At Home Weekly</i> is designed for you to use during the week with your son or daughter. You’ll find out what they learned today at church, and can help them prepare for next week by exploring the theme (or Ponder Point) and spending time together in God’s Word.</p>
            
            <h4 class="u-text--caps">What we Learned this week</h4>
            <h6 class="margin-clear" style="color: {{ page.cta_color_button_border }}"><b>Remember and Celebrate</b></h6>
            <p>Festival of Atonement: Celebrating God's Righteousness</p>
            
            <h4 class="u-text--caps">Where We’re Headed Next time</h4>
            <h6 class="margin-clear" style="color: {{ page.cta_color_button_border }}">Ponder Point: God's Love Compels</h6>
            <p>Jesus' Anointing, Last Supper, Betrayal (<a href="https://www.biblegateway.com/passage/?search=Matthew+26%3A1-56&version=NASB">Matthew 26:1–56</a>; <a href="https://www.biblegateway.com/passage/?search=Luke+22%3A1%E2%80%9353&version=NASB">Luke 22:1–53</a>): Just before His death, Jesus shared a last supper with His disciples, prayed in the Garden of Gethsemane, and was betrayed by one of His followers.</p>
            
            <h4 class="u-text--caps">DID YOU KNOW?</h4>
            <p class="u-text--tilt">Share these facts to get the conversation started:</p>
            <ul>
              <li>In this part of The Big God Story, we see the only time a disciple took up arms to defend the cause of Christ.</li>
              <li>We also see Jesus do something in this story that we see nowhere else in God’s Word. Jesus agonized. While still trusting everything to the will of His Father, Jesus agonized over the upcoming ordeal He would face.</li>
              <li>This scene in the garden offers us a view of unprecedented, unique events that, although described in an understated manner, help us to grasp, if only in part, the magnitude of the happenings that were about to transpire.</li>
            </ul>
            
            <h4 class="u-text--caps">Remember Verse</h4>
            <p>The Remember Verse focuses on a character trait of God that’s highlighted in next week’s portion of The Big God Story.</p>
            
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>

{% capture callout_content %}
  <h3 class="calloutBlockContent u-text--base"><i>He provided redemption for his people; he ordained his covenant forever—holy and awesome is his name.</i></h3>
  <h6 class="calloutBlockContent">Psalm 111:9</h6>
{% endcapture %}

{% include snippets/callout.html %}

<tr>
	<!-- BEGIN TEXT -->
	<td align="center" valign="top" id="textContainer">
		<table border="0" cellpadding="0" cellspacing="0" width="{{ layout.content_width }}" id="textBlock">
			<tbody>
				<tr>
					<td align="left" valign="top" class="content" id="textBlockCell">
            
            <h4 class="u-text--caps">CONNECT AS A FAMILY</h4>
            <p>One evening, after sunset, take your Bible, some blankets, and a flashlight out to the backyard. Listen to the night noises. Notice the plant silhouettes against the night sky. Then read <b><a href="https://www.biblegateway.com/passage/?search=Matthew+26%3A36%E2%80%9350&version=NASB">Matthew 26:36–50</a></b>. Explain that Jesus prayed in this garden the night before He died on the cross. Talk about the grief He felt over what He knew He needed to do. Together, thank Jesus for His great love for us&mdash;love that compelled Him to die on the cross for our sins so we can be in relationship with Him forever.</p>
            <p>After reading the Scripture passage, discuss these questions together:</p>
            <ul>
              <li>How do you think Jesus felt in the garden?</li>
              <li>How do you think His disciples felt?</li>
              <li>How does it feel to know God’s love compelled Jesus to die on the cross?</li>
            </ul>
            <p>These questions can easily extend into the rest of the week. Look for opportunities to bring conversations about how God's love compels into your everyday life as a family.</p>
            
            <h4 class="u-text--caps">TEACHABLE MOMENTS</h4>
            <p>After reading the Scripture passage, discuss the following together:</p>
            <ul>
              <li>What did Joseph&rsquo;s brothers do to him? Why did they do this?</li>
              <li>How did God redeem Joseph&rsquo;s situation?</li>
              <li>Is there anything in your life you would like God to redeem?</li>
            </ul>
            <h4 class="u-text--caps">BLESSING</h4>
            <p>Blessings are often used in the Bible. A blessing can be a prayer of commission, a portion of Scripture, or words to encourage and guide. For more information about blessing your child, go to <a href="http://www.truministry.com">truministry.com</a> to the Parenting tab. And for more creative ideas on spiritually leading your family, visit <a href="http://www.HomeFrontMag.com">HomeFrontMag.com</a>.</p>
            
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>

{% capture callout_content %}
  <h4 class="calloutBlockContent u-text--caps">A BLESSING TO PRAY OVER YOUR CHILD</h4>
  <p><i>(Child&rsquo;s name), may you know that God is love. May His love compel you to love others.</i></p>
{% endcapture %}

{% include snippets/callout.html %}